<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'body.css')}}">
    <title>Ugly Pic</title>
</head>
<body>
    <img src = "http://juadmission.jdvu.ac.in/jums_exam/student_photos/{{roll}}.jpg", alt = "Sorry, couldn't find image, please check the roll no, and try again!">
</body>
</html>